{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Contact
{% endblock %}

{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-sm-4 align-self-center">
    <h1>Contact</h1>
        <ul>
            <li>Milena Grauzyte (2038286)</li>
            <li>Mark Rebotunov (2356067)</li>
            <li>Karen Tada (2298995)</li>
        </ul>
    </div>
  </div>
</div>
{% endblock %}

