{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    AllGoodRecipes
{% endblock %}

{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Home</h1>
<div class="container border">
  <div class="row border">
    <div class="col-sm-3 border">
        <h5>Categories</h5>
        {% if categories %}
            {% for category in categories %}
                <a href="{% url 'recipe_search' category_title=category.title %}">{{ category.title }}</a><br>
			{% endfor %}
        {% endif %}
    </div>
	<div class="col-sm-6 border">
	  <div class="row border">
		<i><b>Trending</i></b>
		</br>
		{% if recipes %}
            {% for recipe in recipes %}
                <p><a href="{% url 'view_recipe' recipe_url=recipe.url %}">{{ recipe.title }} - {{recipe.date_created}}</a></p><br>
			{% endfor %}
        {% else %}
            <p>There are no published recipes at the moment</p>
        {% endif %}
      </div>
	  <div class="row border">
		<i><b>Latest events</i></b>
		</br>
		{% if recipes2 %}
		  {% for recipe in recipes2 %}
		    <a href="{% url 'view_recipe' recipe_url=recipe.url %}"><p>{{ recipe.title }} - {{recipe.date_created}}</p></a>
		  {% endfor %}
		{% else %}
		  <p>There are no recipes published today!</p>
		{% endif %}
	  </div>
	</div>
	<div class="col-sm-3 border">
	  <div class="row border">
		<i><b>Competitions</i></b>
		</br>
		<div class="well">current competition</div>
      </div>
	  <div class="row border">
		<i><b>Tips</i></b>
		</br>
		<div class="well">new tips</div>
	  </div>
  </div>
</div>
{% endblock %}
