{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    AllGoodRecipes
{% endblock %}

{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">

<h1>Home</h1>
<div class="container border">
  <div class="row border">
    <div class="col-sm border">
        {% if recipes %}
            {% for recipe in recipes %}
                <a href="{% url 'view_recipe' recipe_url=recipe.url %}"><p>{{ recipe.title }} - {{recipe.date_created}}</p></a>
            {% endfor %}
        {% else %}
            <p>There are no published recipes at the moment</p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}