{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}

{% endblock %}

{% block body_block %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {
  float: centre
  width: 50%  
  
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #343a40;
  color: #28a745;
  border-color: #28a745;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
  float: centre;
}

button:hover {
  color:#fff;
  background-color:#28a745;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
  color:#fff;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
<h1>Login</h1>
{% if error_message %}
    {{ error_message }}
{% endif %}

<div class="imgcontainer">
    <img src="{% static "images/Capture.jpg" %}" alt="AllGoodRecipes logo" />
</div>
<form id="login_form" method="post" action="{% url 'login' %}">
    <div class="container">
        {% csrf_token %}    
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required size="150">

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}" size="50" />
        
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
{% endblock %}