{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ recipe.title }}
{% endblock %}

{% block body_block %}

<div class="container border">
  <div class="row border">
    <div class="col-lg-6 border">
        <h3>{{ recipe.title }}</h3>
        {% if recipe.categories.all %}
            <h6>Categories</h6>
            <p>
            {% for category in recipe.categories.all %}
                <a><span class="badge badge-pill badge-info">{{ category.title }}</span></a>
            {% endfor %}
            </p>
        {% else %}
            <h6>This recipe is not in any category</h6>
        {% endif %}
        <p>
        {% if recipe.description %}
            recipe.description
        {% else %}
            This recipe does not have a description
        {% endif %}
        </p>
        <hr />
        <p>Preparation time: {{ recipe.preparation_time }}
        <br>Number of servings: {{ recipe.servings_number }}</p>
        <hr />
        <h4>Instructions</h4>
        <p>{{ recipe.instructions }}</p>
    </div>
    <div class="col-lg-6 border">
        <div class="media">
          <img class="mr-3 img-fluid" src="/media/{{ recipe.image }}" alt="Recipe picture">
        </div>
        <div>
          Posted by: {{ user }}
          on {{ recipe.date_created }}
        </div>
        <hr />
        <h4>Ingridients</h4>
        <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.title }}      {{ ingredient.quantity }} {{ ingredient.units.short }}</li>
        {% endfor %}
        </ul>
        <h4>Tips</h4>
    </div>
  </div>
</div>
{% endblock %}