{% extends 'allgoodrecipes/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ recipe.title }}
{% endblock %}

{% block body_block %}

<div class="container">
  <div class="row">
    <div class="col-lg-6">
        <div class="mb-3">
            <h3 class="m-0">{{ recipe.title }}</h3>
            {% if user.is_authenticated and user == recipe.user.user or user.is_authenticated and perms.recipe.publish %}
                {% if recipe.public %}
                    <span class="badge badge-success" id="public_label" value="public">Published</span>
                {% else %}
                    <span class="badge badge-warning" id="public_label" value="hidden">Hidden from public</span>
                {% endif %}
            {% endif %}
        </div>
        <hr />
        {% if user.is_authenticated and user == recipe.user.user or user.is_authenticated and perms.recipe.publish %}
            <div class="">
              <h5>Editing</h5>
                {% if recipe.public %}
                    <button type="submit" class="btn btn-info" id="publish_recipe">Hide recipe</button>
                {% else %}
                    <button type="submit" class="btn btn-warning" id="publish_recipe">Publish recipe</button>
                {% endif %}
              </div>
            {% endif %}
            <hr />
        
        {% if recipe.categories.all %}
            <h6>Categories</h6>
            <p>
            {% for category in recipe.categories.all %}
                <a><span class="badge badge-pill badge-info">{{ category.title }}</span></a>
            {% endfor %}
            </p>
        {% else %}
            <h6>This recipe is not in any category</h6>
        {% endif %}
        
        <p>
        {% if recipe.description %}
            {{ recipe.description }}
        {% else %}
            This recipe does not have a description
        {% endif %}
        </p>
        <hr />
        <p>Preparation time: {{ preparation_time }}
        <br>Number of servings: {{ recipe.servings_number }}</p>
        <hr />
        <h4>Instructions</h4>
        <p>{{ recipe.instructions }}</p>
    </div>
    <div class="col-lg-6">
        <div class="media">
          <img class="mr-3 img-fluid" src="/media/{{ recipe.image }}" alt="Recipe picture">
        </div>
        <div>
          Posted by: {{ user }}
          on {{ recipe.date_created }}
        </div>
        <hr />
        <h4>Ingridients</h4>
        {% if ingredients %}
            <ul>
                {% for ingredient in ingredients %}
                    <li>{{ ingredient.title }}      {{ ingredient.quantity }} {{ ingredient.units.short }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <h6>There are no ingredients</h6>
        {% endif %}
        
        {% if tips %}
            <h4>Tips</h4>
        {% endif %}
    </div>
  </div>
  <hr />
</div>
{% endblock %}

{% block javascript %}
  <script>
    $("#publish_recipe").click(function () {      
      $.ajax({
        url: '/recipe/{{ recipe.url }}/edit/',
        data: {'action': 'change_public'},
        dataType: 'json',
        success: function (data) {
          if (data.status === "success") {
            if($("#public_label").attr('value') === "public") {
                $("#public_label").removeClass("badge-success");
                $("#public_label").addClass("badge-warning");
                $("#public_label").text("Hidden from public");
                
                $("#publish_recipe").removeClass("btn-info");
                $("#publish_recipe").addClass("btn-warning");
                $("#publish_recipe").text("Publish recipe");
            } else {
                $("#public_label").removeClass("badge-warning");
                $("#public_label").addClass("badge-success");
                $("#public_label").text("Published");
                
                $("#publish_recipe").removeClass("btn-warning");
                $("#publish_recipe").addClass("btn-info");
                $("#publish_recipe").text("Hide recipe");
            }
          } else {
            alert("An error occured");
          }
        }
      });
    });
  </script>
{% endblock %}